:root {
  --max-width: 1170px;
  --gap-size: 20px;
  --border-radius: 10px;
  --font-main: Roboto, sans-serif;
  --font-size: 20px;
  --text-color: #4B5563;
  --search-text-color: #222222;
  --search-border-color: #D1D5DB;
}

html, body {
  font-family: var(--font-main);
}

div, p, input, button {
  font-family: var(--font-main);
  box-sizing: border-box;
}
