.search {
    margin: var(--gap-size);
    border: 1px solid var(--search-border-color);
    padding: var(--gap-size);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    color: var(--search-text-color);
    max-width: 640px;
    width: 100%;
}
